name: Retrain KMeans Model

on:
  workflow_dispatch:
  schedule:
    - cron: "0 3 * * 0"

jobs:
  retrain:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Retrain model
        run: |
          python retrain.py

      - name: Commit new model
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add kmeans_model.pkl scaler.pkl
          git commit -m "Automated retraining KMeans (k=5)" || echo "No changes"
          git push
